
@if (card()) {
  @let c = card()!;
  <div class="card-container group aspect-[3/4] w-full p-1 rounded-lg relative cursor-pointer transition-transform duration-300 hover:scale-105 hover:-translate-y-2 shadow-lg"
    [class]="rarityClass()">
    <div class="bg-slate-700 w-full h-full rounded-md relative overflow-hidden shadow-inner">
      <!-- Image -->
      <img [src]="c.imageUrl" [alt]="c.name" class="w-full h-1/2 object-cover">
      
      <!-- Elixir Cost -->
      <div class="absolute top-2 right-2 w-10 h-10 bg-fuchsia-500 rounded-full flex items-center justify-center font-medieval text-2xl text-white border-2 border-fuchsia-200 shadow-md">
        {{ c.elixirCost }}
      </div>
      
      <!-- Card Body -->
      <div class="p-2 flex flex-col justify-between h-1/2">
        <div>
          <!-- Name -->
          <h3 class="font-medieval text-xl leading-tight truncate text-white">
            {{ c.name }}
          </h3>
          <!-- Type and Rarity -->
          <p class="text-xs font-bold" [class]="rarityTextColor()">
            {{ c.type }} - {{ c.rarity }}
          </p>
        </div>
        <!-- Description -->
        <p class="text-slate-300 text-xs leading-snug">
          {{ c.description }}
        </p>
      </div>

      @if (isInDeck()) {
          <div class="absolute inset-0 bg-black/60 flex items-center justify-center backdrop-blur-sm">
              <span class="font-medieval text-2xl text-amber-300">No Deck</span>
          </div>
      }
    </div>
  </div>
}
