<!-- Troop 3D Model -->
<div class="troop-model">
  <div class="shadow"></div>
  <div class="base"></div>
  <img
    [src]="troop().card.troopImageUrl || troop().card.imageUrl"
    [alt]="troop().card.name"
    class="sprite"
    [class.hue-rotate-180]="troop().team === 'enemy'"
  >
</div>

<!-- Health Bar -->
<div class="w-12 h-2 bg-slate-900/70 border border-black rounded-full absolute -bottom-2">
  <div
    class="h-full rounded-full"
    [ngClass]="troop().team === 'player' ? 'bg-green-500' : 'bg-red-500'"
    [style.width.%]="hpPercent"
  ></div>
</div>
